// Базовые цвета
//Светлая тема
$color-w1: 										#FFFFFF; 
$color-w2: 										#F0F2F5;
$color-w3: 									#F2F3F5;
$color-w4: 									#EDEEF0;
$color-w5: 										#DCE1E6;
$color-w6: 										#99A2AD;
$color-w7: 										#8A94A0;
$color-w8: 									#818C99;
$color-w9: 										#626D7A;
$color-w10: 										#00100F;
$color-w11: 										#131313;
$color-w12: 									#231F20;
$color-w13: 										#000000;
$color-w14: 										#e8e8e8;
//Темная тема
$color-d1: 										#222222;
$color-d3: 										#141414;
$color-d2: 										#424242;
//Доп. цвета
$color-c1: 										#447BB1;
$color-c2: 										#F05C44;
$color-c3: 										#2A5895;
$color-c4: 										#1E42FF;
$color-c5: 										#FC6969;
$color-c6: 										#F9B234;
$color-c7: 										#3ECD5E;


// Базовая типографика
	
$font-size:                   16px;

$font-size-h1:                40px;
$font-size-h2:                32px;
$font-size-h3:                24px;
$font-size-h4:                18px;
$font-size-h5:                16px;
$font-size-h6:                13px;

$font-size-sm:                0.75em; // 12px от 16px

$line-height:                 1.5;

$typo-margin-vertical:        1em;

$font-family:                 -apple-system, BlinkMacSystemFont, 'Roboto', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', 'Arial', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$font-family--monospace:     SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
// Georgia, Times New Roman, Times, serif



// Ширины

$screen-xs:                   0;
$screen-sm:                   480px;
$screen-md:                   768px;
$screen-lg:                   992px;
$screen-xl:                   1200px;
$screen-xxl:                  1800px;

$container-sm:                100%;
$container-md:                100%;
$container-lg:                $screen-lg - 30;
$container-xl:                $screen-xl - 30;
$container-xxl:               $screen-xxl - 30;



// Модульная сетка

$grid-columns:                12;
$grid-gutter-width:           30px;



// Разное

$field-padding-vertical:      5px;
$field-padding-horizontal:    12px;

$border-radius:               3px;
$opacity:                     0.7;
$transition-time:             0.3s;
$shadow:                      0 4px 2px -2px rgba(0, 0, 0, 0.3);

$menu-desktop-width:          $screen-lg;
$toggler-part-height:         2px;

$z-index-modal:               100;

//Миксины
$maxWidth: 1440;
@mixin adaptiv-font($pcSize, $mobSize) {
 $addSize: $pcSize - $mobSize;
 $maxWidth: $maxWidth - 320;
 font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}	
//@include adaptiv-font(20, 12);